<h1>Joel Smith</h1>
Joel has been working with technology for most of his life and has a passion for making exciting new products that push the boundries of technology.

<div class="medium-12 columns">
  <div class="clearfix"></div>
  <ul class="social-icon">
    <li><a href="http://www.facebook.com/joelbsmith" class="facebook"><i class="fa fa-facebook"></i></a></li>
    <li><a href="http://www.twitter.com/joelsmith" class="twitter"><i class="fa fa-twitter"></i></a></li>
    <li><a href="http://www.github.com/jbsmith86" class="github"><i class="fa fa-github"></i></a></li>
    <li><a href="http://www.linkedin.com/in/trosic/" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
  </ul>
</div>
